/* .background{
    background-color: rgb(206, 206, 206);
    width: 100vw;
    height: 100vh;
    filter: blur(1px);
}

#droptarget{
    width: 300px;
    height: 300px;
    background-color: gray;
}
 */

/* #css_canvas{
    background-color: rgb(204, 204, 204);
    width: 400px;
    height: 400px;
    border: 1px solid red;
    position: absolute;
    
 }
.circle_base{
    width: 200px;
    height: 200px;
    border-radius: 1000px;
    background-color: aquamarine;
    position: absolute;
    top: 23%;
    left: 24%;
}

.ear_left{
    width: 100px;
    height: 100px;
    border-radius: 1000px;
    background-color: rgb(30, 70, 56);
    position: absolute;
    top: 15%;
    left: 22%;
}

.ear_right{
    width: 100px;
    height: 100px;
    border-radius: 1000px;
    background-color: rgb(30, 70, 56);
    position: absolute;
    top: 15%;
    right: 22%;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: visible;
  scroll-behavior: smooth;
}

#main_frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 65vh;
  min-height: 680px;
}

body {
  margin: 0;
  overflow: hidden;
}

.background {
  transform: translateY(100vh);
  height: 200vh; /* Drie secties */
  width: 100vw;
  position: absolute;
  top: -100vh; /* Start in het midden */
  left: 0;
  transition: transform 1.5s ease-in-out;
  background: rgb(255, 94, 0);
  background: linear-gradient(
    to bottom,
    oklch(67.97% 0.28 39.62) 0%,
    oklch(61.59% 0.28 38.38) 8%,
    oklch(68.08% 0.21 35.54) 19%,
    oklch(62.29% 0.24 326.77) 33%,
    oklch(50.53% 0.14 313.58) 41%,
    oklch(31.97% 0.06 271.63) 49%,
    oklch(26.25% 0.05 261.08) 53%,
    oklch(28.92% 0.07 258.28) 56%,
    oklch(37.97% 0.11 199.99) 61%,
    oklch(42.16% 0.14 184.83) 63%,
    oklch(29.98% 0.08 196.15) 65%,
    oklch(17.61% 0.03 260.28) 69%
  );
}

.background.dark {
  transform: translateY(0vh); /* Naar beneden (donkere mode) */
}

#main_frame > a:has(svg) {
  aspect-ratio: 1/1;
  width: 48px;
  position: fixed;
  left: 2em;
  top: 2em;
  fill: #ffffff;
  transition: all 2200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: rotate(360deg);
  z-index: 999;
}

#main_frame > a:has(svg).dark {
  mix-blend-mode: difference;
  transition: all 2200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: rotate(180deg);
}

.multiple_clouds svg {
  fill: #ffffff;
  stroke-width: 0px;
  width: 120px;
  aspect-ratio: 1/1;
}

@font-face {
  font-family: "Mickey";
  src: url("/font/mickey.ttf");
}

@font-face {
  font-family: "Minnie";
  src: url("/font/minnie.ttf");
}

/* 
section:first-of-type{
    
    width: fit-content;
    display: flex;
}

section:first-of-type article{
    width: 100vw;
    width: fit-content;
} */

/* ----------- ------- ------------ */
/* ----------- SVG 's' ------------ */
/* ----------- ------- ------------ */

.moneyDarkGreen {
  fill: #9dbe87;
}
.moneyBlack {
  fill: #131313;
}
.moneyExtraLightGreen {
  fill: #d6f0c5;
}
.moneyLightGreen {
  fill: #aecd99;
}

.tradingPurple {
  fill: #87c1ea;
}
.tradingDark {
  fill: #131313;
}
.tradingBlue {
  fill: #8dcaf5;
}
.tradingRed {
  fill: #fb7e7e;
}

.marsLightRed {
  fill: #fc6e51;
}
.marsRed {
  fill: #e9573f;
}

/* ----------- ------- ------------ */
/* Test area NASA */
/* ----------- ------- ------------ */
h4 {
  font-family: "Inter";
  font-size: 2rem;
  color: white;
  z-index: 999;
  position: absolute;
}

/* ----------- ------- ------------ */
/* ---------- Info Blocks ----------- */
/* ----------- ------- ------------ */

#main_frame > article {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  z-index: 999;
  width: 90vw;
}

#main_frame > article h2 {
  color: white;
  font-family: "Mickey";
  font-size: 3.5rem;
}

#main_frame > article h3 {
  padding-top: 1em;
  color: white;
  font-family: "Minnie";
  font-size: 1.5rem;
}

#main_frame > article p {
  color: white;
  font-family: "Minnie";
  font-size: 2rem;
}

/* ----------- ------- ------------ */

.cloudContainer h2 {
  font-family: "Mickey";
  font-size: 5em;
  color: white;
  margin-top: 100px;
}

.cloudContainer h3 {
  font-family: "Minnie";
  font-size: 3em;
  color: white;
}

.cloudContainer article {
  animation: cloudyWobble 60s infinite ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.getStarted.hidden {
  visibility: hidden;
}

.mickey {
  width: 130px;
  height: 130px;
  background: black;
  border-radius: 50%;
  position: fixed;
  bottom: 32px;
  right: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2; /* Hoofd moet boven oren blijven */
}

.mickey.dark {
  background: rgb(255, 255, 255);
}

.ear {
  width: 80px;
  height: 80px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: -35px;
  z-index: 1; /* Oren liggen achter het hoofd */
  animation: wiggleEar 3s infinite ease-in-out alternate;
}

.ear.dark {
  width: 70px;
  height: 70px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  top: -35px;
  z-index: 1; /* Oren liggen achter het hoofd */
  animation: wiggleEar 3s infinite ease-in-out alternate;
}

.left-ear {
  left: -40px;
}

.right-ear {
  right: -40px;
}

@keyframes wiggleEar {
  0% {
    transform: scale(1) rotate(0deg);
  }
  30% {
    transform: scale(0.9) rotate(-5deg);
  }
  60% {
    transform: scale(1.05) rotate(3deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

article a {
  backdrop-filter: blur(1px);
  mix-blend-mode: difference;
  border: #ffffff20 1px solid;
  z-index: 999;
  color: gray;
  border-radius: 10px;
  opacity: 1;
  font: "Inter";
  font-weight: 600;
  padding: 10px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: min-content;
  width: fit-content;
  gap: 10px;
  transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
article a:hover {
  backdrop-filter: blur(1px);
  background-color: rgb(212, 205, 0);
  border: rgba(19, 19, 19, 0.748) 1px solid;
  color: rgba(21, 21, 21, 0.945);
  transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  scale: 1.025;
}

a div {
  aspect-ratio: 1/1;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a div svg {
  mix-blend-mode: difference;
}

.cloudContainer {
  width: fit-content;
  height: fit-content;
  user-select: none;
  cursor: grab;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 8rem;
  transition: all 2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.cloudContainer.topRight {
  position: absolute;
  transform: translateY(-20vh) translateX(45vw);
  transition: all 3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

  scale: 0.7;
}

.cloud {
  background: #ffffff;
  border-radius: 50%;
  scale: 1;
  height: 300px;
  width: 300px;
  box-shadow: #ffffff 129px -45px 0 -5px, #ffffff -55px -85px,
    #ffffff -140px 80px, #ffffff -20px 146px 0 -10px, #ffffff 135px 145px 0 6px;
  transition: 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-delay: 200ms;
}

.cloud.dark {
  background: #060123;
  border-radius: 50%;
  scale: 1;
  height: 300px;
  width: 300px;
  box-shadow: #060123 129px -45px 0 -5px, #060123 -55px -85px,
    #060123 -140px 80px, #060123 -20px 146px 0 -10px, #060123 135px 145px 0 6px;
  transition: 2500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 400ms;
}

.cloud:hover {
  scale: 1.05;
  transition-delay: 150ms;
  transform: rotate(-3deg) translateY(-8px) translatex(-4px);
  transition: 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cloud h2 {
  margin-left: 20%;
}

.multiple_clouds {
  position: absolute;
  bottom: 0;
  width: 90vw;
}

.multiple_clouds div {
  animation: cloudyWobble 60s infinite ease-in-out;
  z-index: 49;
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
  scale: 1;
  height: 300px;
  width: 300px;
  box-shadow: #ffffff 129px -45px 0 -5px, #ffffff -55px -85px,
    #ffffff -140px 80px, #ffffff -20px 146px 0 -10px, #ffffff 135px 145px 0 6px;
  transition: 5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-delay: 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
}

.multiple_clouds div:hover {
  scale: 1.1;
  cursor: pointer;
}

.multiple_clouds div:nth-of-type(1).start_position {
  bottom: 0;
  left: 0;
}

.multiple_clouds div:nth-of-type(1).move_away {
  bottom: -20vh;
  transition: all 3s cubic-bezier(0.455, 0.03, 0.515, 0.955); /* Same as open */
}
.multiple_clouds div:nth-of-type(1),
.multiple_clouds div:nth-of-type(2),
.multiple_clouds div:nth-of-type(3) {
  bottom: -50vh;
}

.multiple_clouds div:nth-of-type(1).open,
.multiple_clouds div:nth-of-type(2).open,
.multiple_clouds div:nth-of-type(3).open {
  bottom: 15vh;
  /* left: 50%;
  margin-left: -50%; */
  transition: all 3s cubic-bezier(0.455, 0.03, 0.515, 0.955); /* Ensure consistency */
}

.multiple_clouds div:nth-of-type(2).start_position {
  bottom: 0;
  right: 30vw;
}
/* .multiple_clouds div:nth-of-type(2).open {
  bottom: 0;
  right: 30vw;
} */
.multiple_clouds div:nth-of-type(2).move_away {
  bottom: -20vh;
  right: 50vw;
  transition-delay: 450ms;
  transition: all 3s cubic-bezier(0.455, 0.03, 0.515, 0.955); /* Same as open */
}

.multiple_clouds div:nth-of-type(3).start_position {
  right: 0;
  bottom: 0;
}
.multiple_clouds div:nth-of-type(3).move_away {
  bottom: -30vh;
  transition-delay: 300ms;
  transition: 1500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 3s cubic-bezier(0.455, 0.03, 0.515, 0.955); /* Same as open */
}
/* .multiple_clouds div:nth-of-type(3).open {
  right: 0;
  bottom: 0;
} */

.next {
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  margin-left: 50%;
  margin-bottom: 60px;
}

@keyframes cloudyWobble {
  0% {
    transform: translate(0, 0) scale(1) rotate(0deg);
  }
  20% {
    transform: translate(-1.2em, -0.8em) scale(1.05) rotate(-2deg);
  }
  35% {
    transform: translate(0.5em, -1.3em) scale(1) rotate(1deg);
  }
  50% {
    transform: translate(-0.3em, 0.5em) scale(1.1) rotate(-1deg);
  }
  65% {
    transform: translate(1em, -0.7em) scale(1.05) rotate(2deg);
  }
  80% {
    transform: translate(-0.8em, 1em) scale(1) rotate(-1.5deg);
  }
  100% {
    transform: translate(0, 0) scale(1) rotate(0deg);
  }
}

/* 

    :root {
        --dumbbell-color: #555555;
      }
      body {
        margin: 0;
        padding: 20px;
        font-family: sans-serif;
        background: #222;
        color: white;
        text-align: center;
      }
      h1 {
        margin-top: 0;
      }
      /* Draggable dumbbell 
      .dumbbell {
        width: 200px;
        height: 30px;
        background: var(--dumbbell-color);
        border-radius: 15px;
        position: absolute;
        top: 150px;
        left: 150px;
        cursor: grab;
      }
      .dumbbell::before,
      .dumbbell::after {
        content: "";
        position: absolute;
        top: -20px;
        width: 50px;
        height: 70px;
        background: var(--dumbbell-color);
        border-radius: 10px;
      }
      .dumbbell::before {
        left: -60px;
      }
      .dumbbell::after {
        right: -60px;
      }
      /* Kleurkiezer 
      #colorControl {
        margin-top: 50px;
      }
      #colorControl label {
        margin-right: 10px;
      }
      /* DIMWL component 
      #dimwl {
        margin-top: 350px;
      }
      #dimwl input[type="number"] {
        padding: 5px;
        font-size: 1em;
        margin: 10px;
        width: 120px;
      }
      #dimwl button {
        padding: 5px 10px;
        font-size: 1em;
        cursor: pointer;
      }
      #dimwl p {
        margin-top: 15px;
        font-weight: bold;
      } */

/* ---- reset ---- */
